/* Escribe acá tus estilos*/
*{
	font-family: 'Courgette', cursive;
	font-size: 20px;
}

body{
	margin: 0;
}

header h1{
	font-family: 'Tangerine', cursive;
	background-color: #8B4513;
	text-align: center;
	font-size: 60px;
	color: #FFFACD;
	padding: 20px;
	margin: 0;
	/*font-weight: 700;*/
}

/*formulario*/
#formulario{
	background-color: #bf6829;
	text-align: center;
	width: 40%;
	padding: 20px;
	margin: 0 auto;
	margin-top: 10px;	
}

#formulario p{
	color: #FFFACD;
}

/*labels*/
.myForm label{
	color: #FFFACD;
	font-weight: bold;
	font-size: 15px;
	display: inline-block;
    width: 30%;
    height: 25px;   
}

/*input*/
.myForm input, 
.myForm select,
.myForm button{
	display: inline-block;
    width: 40%;
    color:#EFC483;
    background-color: rgba(239, 196, 131, 0.3);
    /*background-color: rgba(173, 82, 16, 0.3);*/
    border: 1px solid rgba(130, 55, 1, 0.5);
    box-sizing: border-box;
    color: whitesmoke;
}

/*select*/
.myForm select{
	display: block;
	margin: auto;
	width: 60%;
}

.myForm select option{
	color: #944309;
	padding: 10px;
}

/*checkbox*/
.myForm input[type='checkbox']{
	margin-top: 20px;
	padding: 10px;
	background-color: rgba(255,255,255, 0.2);
	float: left;
}

.myForm .nwsl{
	color: #FFFACD;
	font-size: 15px;
    width: 120%;
    margin-top: -20px;
    float: left;
}

/*botón*/
.myForm button{
	background-color: #652e07;
	border: none;
	margin: 10px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}